<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.dao.UserMapper">
	<resultMap type="User" id="userObject">
		<id column="id" property="id" />
		<result column="userName" property="userName" />
		<result column="loginName" property="loginName" />
		<association property="classes" javaType="Classes">
			<id column="id" property="id" />
			<id column="name" property="name" />
		</association>
	</resultMap>
	<select id="findUserById" parameterType="Long" resultMap="userObject">
		select
		u.id,u.userName,u.loginName,c.id,c.name from user u,classes c
		where
		u.id = #{id} and u.classes_id=c.id
	</select>
	<select id="findAll" resultMap="userObject">
		select
		u.id,u.userName,u.loginName,c.id.c.name from user u,classes c
		where
		u.classes_id=c.id
	</select>
</mapper>